table {
    border: 5px solid black;
    background-color: ;
    margin: 20px 20px;
}
td {
    border: 1px solid black;
}
tr {
    border: 10px rgb(23, 30, 33)
}

ul {
    padding-left: 0;
    margin-bottom: 1rem;
}

.bodyoftext {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 45, 45);
    color: white;
    text-align: center;
}

/* ---------- HEADER AND NAVIGATION ---------- */

body {
    font-family: "Courier New", monospace;
    background-image: url("Photo/background.png");
}
div {
    width: 95%;
    height: 95%;
}